.pagination-box {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagBox {
    display: flex;
    gap: 15px;
}

.btnArrow {
    width: 40px;
    height: 40px;
    border: 2px solid #01DFA4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    width: auto;
    background-color: #1A1940;
    color: white;
    border-radius: 0;
}

.pagItem {
    width: 40px;
    height: 40px;
    background: #1A1940;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.page-link {
    width: 31px;
    height: 30px;
    list-style: none;
    margin: 0 2px;
    text-align: center;
    padding: 0 10px !important;
    cursor: pointer;
    height: 100%;
    user-select: none;
}

.pagItem a {
    display: block;
    user-select: none;
    width: 30px !important;
    height: 30px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ActivePagItem {
    width: 40px;
    height: 40px;
    background: #01DFA4;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.ActivePagItem a {
    color: white
}

@media (max-width: 960px) {

    .pagItem,
    .ActivePagItem,
    .btnArrow {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }

    .pagination-box {
        max-width: 360px;
    }
}